*{
padding:0;
margin:0;
border:0;
}

#container {
width:70%;
background:white;
padding:20px;

}
#chat_box {
width:90%;
height:400px;
}
#chat_data {
width:100%;
padding:10px;
margin-bottom:5px;
border-bottom:5px solid silver;
font-weight:bold;
}

.form-control{
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

 body {
  background-color: #FFFFFF;
  padding: 25px 50px;
}

#title {
    color: black;
    text-align: center;
    text-align: justify;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-weight: bold;
     font-size: 200%;
     margin-top: -5px;

}

b{
  font-family: Arial,
   Geneva,
   Helvetica,
   sans-serif;
}

h1{
  font-family: Arial,
  Geneva,
  Helvetica,
  sans-serif;
}

a{
  font-family: Arial,
  Geneva,
  Helvetica,
  sans-serif;
}

/* change the size of the send button */
 .btn /*btn-success btn-block*/ {
  width: 90px;
  height: 40px;

}
