/*Padding around the page body and dark background colour */
body {
  background-color: #FFFFFF;
  padding: 25px 50px;
}
#logo{
  position: relative;
  top:0%;
  left:0%;
  z-index: 1;
}
#greeting{
  position: absolute;
  top:20%;
}
#title {
    color: black;
    text-align: center;
    text-align: justify;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    font-weight: bold;
     font-size: 200%;
     margin-top: -5px;
}

b{
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

h1{
  font-family: Arial, Geneva, Helvetica, sans-serif;
  z-index: 10;
}

a{
  font-family: Arial, Geneva, Helvetica, sans-serif;

}
